@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary: #ed671b;
  --primary-hover: #ff974d;
  --secondary: #0d1732;
  --beige: rgba(200, 176, 140, 0.15);
  --info: #2f80ed;
  --success: #27ae60;
  --warning: #eec035;
  --error: #eb5757;
  --grey01: #f6f6f6;
  --grey02: #dfdfdf;
  --grey03: #b1b1b1;
  --grey04: #8d8d8d;
  --grey05: #656565;
  --black: #2d2d2d;
  --white: #ffffff;
  --elevation-default: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  --elevation-hover: 0 24px 16px 0 rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  font-family: "Inter", "Noto Sans KR", Arial, sans-serif !important;
}

html,
body {
  height: 100%;
  height: 100%;
  font-family: "Inter", "Noto Sans KR", Arial, sans-serif !important;
  font-weight: 400;
  color: #727272;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #727272;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-weight: 900;
  line-height: 1.6;
}

.h1 {
  font-size: 3.5rem;
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2.5rem;
}

.h4 {
  font-size: 2rem;
}

.h5 {
  font-size: 1.5rem;
}

.h6 {
  font-size: 1.375rem;
}

.h7 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: #727272;
}

.primary-color {
  background: #ed671b;
  color: transparent;
  -webkit-background-clip: text;
}

.white-color {
  background: var(--white);
  color: transparent;
  -webkit-background-clip: text;
}

.black-color {
  background: #222;
  color: transparent;
  -webkit-background-clip: text;
}

#search,
#select,
#checkBox,
#radioBtn,
#switch {
  padding: 1rem 0;
}

#search {
  display: flex;
  flex-direction: column;
}
#search input {
  border: 1px solid var(--grey02);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
}
#search input:focus {
  outline: 1px solid var(--primary);
}
#search input::placeholder {
  color: var(--grey03);
}

#select {
  position: relative;
  transition: all 0.3s ease;
  display: inline-block;
  width: 100%;
  z-index: 9;
}
#select i {
  transition: all ease 0.1s;
}
#select .selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--grey02);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
#select ul {
  position: absolute;
  background-color: var(--white);
  width: 100%;
  left: 0;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
  display: none;
  overflow-y: auto;
  opacity: 0;
  animation: opacityAni 0.3s;
  z-index: 9;
}
#select ul li {
  padding: 1rem 1.5rem;
}
#select ul li:hover {
  background: var(--secondary);
  color: var(--white);
  animation: opacityAni 0.3s;
}

#select.active i {
  transform: rotate(180deg);
}
#select.active ul {
  border: 1px solid var(--grey02);
  display: initial;
  opacity: 1;
}

#checkBox .checkbox-group {
  padding: 1rem 0;
}
#checkBox .checkbox {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#checkBox .checkbox span {
  padding-left: 0.5rem;
}
#checkBox .checkbox span:first-child {
  position: relative;
  border-radius: 0.25rem;
  transform: scale(1);
  border: 1px solid var(--grey02);
  transition: all 0.2s ease;
}
#checkBox .checkbox span:first-child svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/assets/image/icon/icon-check.svg") no-repeat center center;
  opacity: 1;
  width: 100%;
  height: 100%;
}
#checkBox .checkbox span.md:first-child {
  width: 1.5rem;
  height: 1.5rem;
}
#checkBox .checkbox span.lg:first-child {
  width: 2rem;
  height: 2rem;
}
#checkBox .checkbox:hover {
  background: rgba(0, 119, 255, 0.06);
}
#checkBox .checkbox:hover span:first-child {
  border-color: var(--secondary);
  opacity: 0.5;
}
#checkBox input {
  position: absolute;
  visibility: hidden;
}
#checkBox input:checked + .checkbox span:first-child {
  background: var(--secondary);
  border-color: var(--secondary);
  animation: scaleAni 0.3s ease;
}
#checkBox input:checked + .checkbox span:first-child svg {
  opacity: 1;
}

#radioBtn .radiobtn-group {
  padding: 1rem 0;
}
#radioBtn .radio-label {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#radioBtn .radio-label span {
  padding-left: 0.5rem;
}
#radioBtn .radio-label span:first-child {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transform: scale(1);
  border: 1px solid var(--grey02);
  transition: all 0.2s ease;
}
#radioBtn .radio-label span:first-child svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 60%;
  height: 60%;
  transition: all 0.2s ease;
}
#radioBtn .radio-label:hover {
  background: rgba(0, 119, 255, 0.06);
}
#radioBtn .radio-label:hover span:first-child {
  border-color: var(--secondary);
  opacity: 0.5;
}
#radioBtn input {
  position: absolute;
  visibility: hidden;
}
#radioBtn input[type=radio]:checked + .radio-label span:first-child {
  border-color: var(--secondary);
  animation: scaleAni 0.3s ease;
}
#radioBtn input[type=radio]:checked + .radio-label span:first-child svg {
  border-radius: 50%;
  background: var(--secondary);
  opacity: 1;
}

#switch .switch {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2rem;
  cursor: pointer;
}
#switch .slider {
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 2rem;
}
#switch .slider:hover .slider:first-child {
  border-color: var(--secondary);
}
#switch .slider .round {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--white);
  transition: 0.4s;
  border-radius: 2rem;
  font-size: 1rem;
}
#switch .slider.in-txt {
  width: 5rem;
}
#switch .slider.in-txt .round {
  width: 3rem;
}
#switch input {
  position: absolute;
  visibility: hidden;
}
#switch input:checked + .switch .slider {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
#switch input:checked + .switch .slider .round {
  transform: translateX(1.5rem);
}
#switch .slider.round {
  border-radius: 2rem;
}
#switch .slider.round:before {
  border-radius: 50%;
}

button {
  border-radius: 0.75rem;
  cursor: pointer;
}
button .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button p {
  margin-left: 0.5rem;
}

button.btn-default,
button.btn-secondary button.btn-min {
  margin: 1rem 1rem 1rem 0rem;
}

button.btn-default {
  background: var(--secondary);
}
button.btn-default:hover {
  background: var(--primary);
}
button.btn-default:active {
  background: var(--primary-hover);
}
button.btn-default svg,
button.btn-default p {
  color: var(--white);
}

button.btn-secondary {
  background: var(--white);
  border: 1px solid var(--grey02);
}
button.btn-secondary:hover {
  border: 1px solid var(--secondary);
}
button.btn-secondary:active {
  background: var(--beige);
}

button.btn-min {
  background: transparent;
}
button.btn-min:hover {
  background: var(--white);
}
button.btn-min:active {
  background: var(--beige);
}
button.btn-min svg,
button.btn-min p {
  color: var(--black);
  font-weight: 700;
}

.btn-sm {
  height: 2.5rem;
  padding: 0 1rem;
}
.btn-sm svg,
.btn-sm p {
  font-size: 0.75rem;
}

.btn-md {
  height: 3rem;
  padding: 0 1.5rem;
}
.btn-md svg,
.btn-md p {
  font-size: 0.75rem;
}

.btn-lg {
  height: 3.5rem;
  padding: 0 1.75rem;
}
.btn-lg svg,
.btn-lg p {
  font-size: 1rem;
}

@keyframes opacityAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes scaleAni {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes scaleAni {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes scaleAni {
  50% {
    transform: scale(0.9);
  }
}
@keyframes scaleAni {
  50% {
    transform: scale(0.9);
  }
}
/*# sourceMappingURL=common.scss.map */

/*# sourceMappingURL=common.css.map */
