@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("/assets/fontello/css/fontello.css");

@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
  font-style: normal;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

:root {
  --primary: #ed671b;
  --primary-hover: #ff974d;
  --secondary: #0d1732;
  --beige: rgba(200, 176, 140, 0.15);
  --info: #2f80ed;
  --success: #27ae60;
  --warning: #eec035;
  --error: #eb5757;
  --grey01: #f6f6f6;
  --grey02: #dfdfdf;
  --grey03: #b1b1b1;
  --grey04: #8d8d8d;
  --grey05: #656565;
  --black: #2d2d2d;
  --white: #ffffff;
  // --elevation-default: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  // --elevation-hover: 0 24px 16px 0 rgba(0, 0, 0, 0.2);
  --elevation-default: 0 0.5rem 1rem rgba(9, 44, 76, 0.16);
  --elevation-default-hover: 0 1.5rem 2rem rgba(9, 44, 76, 0.26);
  --modalbg: rgba(0, 0, 0, 0.6);
  --linear-gold: linear-gradient(
    360deg,
    #846a3c 12%,
    rgba(110, 120, 70, 0) 80%
  );
  --linear-not: linear-gradient(
    360deg,
    #3d3d3d 0%,
    rgba(61, 61, 61, 0.8) 50%,
    rgba(61, 61, 61, 0.4) 100%
  );
  --border-radius-xs: 0.5rem;
  --border-radius-sm: 1rem;
  --border-radius-md: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  font-family: "Inter", "Gothic A1", Arial, sans-serif !important;
}

html,
body {
  height: 100%;
  height: 100%;
  font-family: "Inter", "Gothic A1", Arial, sans-serif !important;
  font-weight: 400;
  color: #727272;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--grey04);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7 {
  font-weight: 800;
  line-height: 1.5;
  color: var(--black);
  letter-spacing: -0.005em;
}

.h1 {
  font-size: 3.5rem;
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2.5rem;
}

.h4 {
  font-size: 2rem;
}

.h5 {
  font-size: 1.5rem;
}

.h6 {
  font-size: 1.375rem;
}

.h7 {
  font-size: 1.25rem;
}

.title,
.top {
  margin-bottom: 1rem;
}

.article-title {
  margin-bottom: 1.5rem;

  .divider {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0.5rem 0;

    .line {
      width: 5rem;
      background: var(--primary);
    }
  }
}

.success {
  color: var(--success) !important;
}

.focus {
  color: var(--primary) !important;
}

.warning {
  color: var(--error) !important;
}

.subtitle {
  margin-bottom: 1rem;
}

.category {
  color: var(--grey03);
}

.user-name {
  color: var(--black) !important;
  font-weight: 800 !important;
}

.user-nickname {
  color: var(--grey05) !important;
  font-weight: 600 !important;
}

.issuer-name {
  color: var(--black) !important;
  font-weight: 800 !important;
}

.owner {
  color: var(--grey03);
  margin-bottom: 0.25rem;
}

.subtit-lg {
  color: var(--grey05);
  font-weight: 600;
  font-size: 1.25rem;
}

.subtit-md {
  color: var(--grey05);
  font-weight: 600;
  font-size: 1.125em;
}

.subtit-sm {
  color: var(--grey05);
  font-weight: 600;
  font-size: 1rem;
}

.subtit-xs {
  color: var(--grey05);
  font-weight: 600;
  font-size: 0.75rem;
}

.label-b {
  color: var(--grey04);
  font-weight: 600;
  font-size: 0.75rem;
}

.label-r {
  color: var(--grey04);
  font-weight: normal;
  font-size: 0.75rem;
}

.text-limit {
  color: var(--grey03);
}

.fw-600 {
  font-weight: 600;
}

.text-underline {
  text-decoration: underline;
}

.fs-1 {
  font-size: 2.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 1.75rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1rem;
}

.fs-7 {
  font-size: 0.75rem;
}

p {
  line-height: 1.5;
  letter-spacing: -0.005em;
}

a {
  text-decoration: none;
  color: var(--grey04);
}

span {
  position: relative;
  display: block;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: block;
  }
}

input, textarea {
  border: 1px solid var(--grey02);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
  background: transparent;
}

#table {
  border: 1px solid var(--grey04);
  border-radius: var(--border-radius-xs);
  overflow: hidden;
  background: transparent;
}

table {
  width: 100%;
  font-size: 0.75rem;
  letter-spacing: -0.06em;
  line-height: 1;
  
  tr {
    border-bottom: 1px solid var(--grey04);

    &:last-child {
      border: none;
    }
  }

  thead {
    th {
      padding: 0.5rem;
      height: 2.25rem;
      vertical-align: middle;
      background: var(--grey04);
      color: var(--white);

      button {
        display: inline-block;
        vertical-align: middle;
        background: transparent;
        color: var(--white);
      }
    }
  }

  tbody {

    tr {
      
      &:hover {
        background: var(--grey01);

        th, td {
          color: var(--grey05);
        }
      }

      &:last-child {
        border: none;  
      }
    }

    th, td {
      padding: 0.5rem;
      height: 2.75rem;
      vertical-align: middle;
      text-align: center;

      button {
        display: inline-block;
        vertical-align: middle;
        background: transparent;
      }

      button.active {
        transition: all 0.3s ease;
        color: var(--black);

        &::before {
          content: '\e806';
        }
      }
    }

    td {
      button {
        font-size: 1.25rem;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  
  .pagination-wrap {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    a {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius-xs);
      font-size: 1rem;
      line-height: 0;
  
      &:first-child, &:last-child {
        font-size: 1.5rem;
      }
  
      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
  
      &:hover {
        background: var(--secondary);
        color: var(--white);
        transition: all 0.3s ease;
      }
    }
  }
}

.icon-close,
.icon-bell,
.icon-plus,
.icon-minus,
.icon-share,
.icon-copy,
.icon-email,
.icon-picture,
.icon-caution,
.icon-delete,
.icon-eye,
.icon-eye-hidden {
  color: var(--grey04);
}

.icon-search {
  color: var(--white);
}

i {
  display: inline-block;
}

// i.icon-heart {
//   background: url('/assets/image/icon/icon-heart.svg') no-repeat center center;
//   background-size: cover;
// }

i.icon-arrow {
  background: url("/assets/image/icon/icon-down.svg") no-repeat center center;
  background-size: cover;
}

// i.icon-copy {
//   background: url('/assets/image/icon/icon-copy.svg') no-repeat center center;
//   background-size: cover;
// }

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.text-center {
  justify-content: center !important;
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.divider {
  margin: 1rem 0;
  padding: 0 1rem;

  span.line {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--grey02);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.125rem);
  -webkit-backdrop-filter: blur(0.125rem);
  z-index: 9999;
  animation: opacityAni 0.3s;

  .modal-dialog {
    position: absolute;
    background-color: #ffffff;
    border-radius: var(--border-radius-md);
    box-shadow: var(--elevation-default);
    padding: 1.5rem;
  }

  .modal-header,
  .modal-body {
    margin-bottom: 1.5rem;
  }
}

.open {
  display: block;
  touch-action: none;
  overflow: hidden;
  opacity: 1;
}

// SEARCH BAR
#search {
  position: relative;
  display: flex;

  label {
    width: 100%;
  }

  input {
    border: 1px solid var(--grey02);
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    width: 100%;
    background: var(--grey01);

    &:hover,
    &:focus {
      z-index: 999;
      outline: 1px solid var(--primary);
    }

    &::placeholder {
      color: var(--grey03);
    }
  }

  button {
    padding: 0 0.825rem;
    height: auto;
    margin-left: 1rem;
  }
}

#input {
  position: relative;
  display: flex;
  flex-direction: column;

  > input {
    position: relative;
    border: 1px solid var(--grey02);
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    width: 100%;
    background: var(--grey01);
    margin: 0.5rem 0;

    &:focus {
      border-bottom: 1px solid var(--primary);
    }

    &::placeholder {
      color: var(--grey03);
    }
  }

  p {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: 800;
    color: var(--grey05);
  }

  .error-message {
    font-size: 0.75rem;
    color: var(--error);
  }
}

// SELECT BOX
#select {
  position: relative;
  transition: all 0.3s ease;
  display: inline-block;
  width: 100%;
  
  .selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--grey02);
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    cursor: pointer;

    span {
      color: var(--grey05);
    }

    i {
      transition: all ease 0.1s;
    }
  }

  ul {
    position: absolute;
    background-color: var(--white);
    width: 100%;
    left: 0;
    margin-top: 0.5rem;
    border-radius: 0.75rem;
    overflow: hidden;
    display: none;
    overflow-y: auto;
    opacity: 0;
    animation: opacityAni 0.3s;
    z-index: 9;

    li {
      padding: 1rem 1.5rem;

      &:hover {
        background: var(--secondary);
        color: var(--white);
        animation: opacityAni 0.3s;
      }
    }
  }
}

#select.active {
  i {
    transform: rotate(180deg);
  }

  ul {
    border: 1px solid var(--grey02);
    display: initial;
    opacity: 1;
  }
}

// CHECK-BOX
.checkbox-item {
  label.checkbox {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      border-color: var(--grey03);
      border-radius: var(--border-radius-xs);

      i.icon-check {
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        opacity: 0;
      }
    }

    &:hover {
      span {
        border-color: var(--secondary);
        opacity: 0.5;
      }
    }
  }

  input {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  input:checked + .checkbox span {
    background: var(--secondary);
    border-color: var(--secondary);
    animation: scaleAni 0.3s ease;
  }

  input:checked + .checkbox span i.icon-check {
    color: var(--white);
    opacity: 1;
  }
}

// RADIO BUTTON
#radioBtn {
  padding: 0.5rem;

  .radio-label {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
      padding-left: 0.75rem;

      &:first-child {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        transform: scale(1);
        border: 1px solid var(--grey02);
        transition: all 0.2s ease;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          width: 60%;
          height: 60%;
          transition: all 0.2s ease;
        }
      }
    }

    &:hover {
      background: rgba(0, 119, 255, 0.06);

      span:first-child {
        border-color: var(--secondary);
        opacity: 0.5;
      }
    }
  }

  input {
    position: absolute;
    visibility: hidden;
  }

  input[type="radio"]:checked + .radio-label span:first-child {
    border-color: var(--secondary);
    animation: scaleAni 0.3s ease;
  }

  input[type="radio"]:checked + .radio-label span:first-child svg {
    border-radius: 50%;
    background: var(--secondary);
    opacity: 1;
  }
}

// SWITCH BUTTON
#switch {
  .switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .slider {
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: 2rem;

    &:hover {
      .slider:first-child {
        border-color: var(--secondary);
      }
    }

    .round {
      position: absolute;
      width: 2rem;
      height: 2rem;
      left: 0.25rem;
      bottom: 0.25rem;
      background-color: var(--white);
      transition: 0.4s;
      border-radius: 2rem;
      font-size: 1rem;

      p.switch-txt {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.5rem;
        font-weight: 600;
      }
    }
  }

  .slider.in-txt {
    width: 5rem;

    .round {
      width: 3rem;
    }
  }

  input {
    position: absolute;
    visibility: hidden;
  }

  input:checked + .switch .slider {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }

  input:checked + .switch .slider .round {
    transform: translateX(1.5rem);
  }

  .slider.round {
    border-radius: 2rem;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

#stepper {
  display: flex;
  width: fit-content;
  height: 3.5rem;
  border: 1px solid var(--grey02);

  button.btn-minus {
    background: transparent;
    padding: 0 0.75rem;
    border-right: 1px solid var(--grey02);
  }

  button.btn-plus {
    background: transparent;
    padding: 0 0.75rem;
    border-left: 1px solid var(--grey02);
  }

  p.count-num {
    font-family: "Inter", "Gothic A1", Arial, sans-serif;
    font-weight: bold;
    padding: 0 1.5rem;
    width: 4rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-item {
  margin-left: 1rem;
}

#user-thumb {
  background: url("/assets/image/user-thumb/user-thumb.png") no-repeat center
    center;
  background-size: cover;
}

#issuer-thumb {
  background: url("/assets/image/user-thumb/business-thumb.png") no-repeat
    center center;
  background-size: cover;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  background-color: var(--grey02) !important;
  color: var(--grey03) !important;
  // Cursor: not-allowed;
  button: disabled;
}

button.default {
  border-radius: 0.75rem;
}

button.round {
  border-radius: 5rem;
}

button.btn-circle {
  border-radius: 5rem;
  outline: 1px solid var(--grey02);

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
  }
}

button.btn-main {
  background: var(--primary);
  color: var(--white);

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
  }
}

button.btn-primary {
  background: var(--secondary);
  color: var(--white);

  &:hover {
    background: var(--primary);
    transition: all 0.3s ease;
  }

  &:active {
    background: var(--primary-hover);
  }

  svg,
  p {
    color: var(--white);
  }
}

button.btn-secondary {
  background: var(--white);
  border: 1px solid var(--grey02);
  color: var(--black);

  &:hover {
    border: 1px solid var(--secondary);
    transition: all 0.3s ease;
  }

  &:active {
    background: var(--beige);
  }
}

button.btn-info {
  background: var(--info);
  color: var(--white);

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
  }
}

button.btn-warning {
  background: var(--error);
  color: var(--white);

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
  }
}

button.btn-minimal {
  background: transparent;

  &:hover {
    background: var(--white);
    transition: all 0.3s ease;
  }

  &:active {
    background: var(--beige);
  }

  &:focus {
    svg,
    p {
      color: var(--primary);
    }
  }

  svg,
  p {
    color: var(--black);
    font-weight: 700;
  }
}

button.btn-search {
  background: var(--primary);
  padding: 0 0.75rem;
  margin: 0.5rem 0;
  border-radius: var(--border-radius-sm);

  &:hover {
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

button.btn-table {
  background: var(--grey05);
  color: var(--white);
  
  &:hover {
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

button.btn-backup {
  background: var(--white);
  border: 1px solid var(--error);
  color: var(--error);

  &:hover {
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

button.btn-close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  background: transparent;
  z-index: 999;

  &:hover {
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

button.btn-more {
  padding: 1rem 2rem;
  border-radius: 5rem;

  &:hover {
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

// button.btn-close {
//   background: url('/assets/image/icon/icon-close.svg') no-repeat center center;
//   border-radius: 50%;
//   height: 100%;
//   padding: 0.25rem;
//   font-size: 0;

//   &:hover {
//     opacity: 0.6;
//     transition: all 0.3s ease;
//   }
// }

.btn-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-sm {
  height: 2.5rem;
  font-size: 0.75rem;
  padding: 0 1.5rem;

}

.btn-md {
  height: 3rem;
  font-size: 1rem;
  padding: 0 2rem;
}

.btn-lg {
  height: 3.5rem;
  font-size: 1.5rem;
  padding: 0 2.5rem;
}

.btn-circle {
  img {
    border-radius: 5rem;
    border: 1px solid var(--grey02);
  }
}

.btn-circle-sm {
  width: 2.5rem;
  height: 2.5rem;
}

.btn-circle-md {
  width: 3rem;
  height: 3rem;
}

.btn-circle-lg {
  width: 3.5rem;
  height: 3.5rem;
}

#progress {
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  background: var(--modalbg);
}

#progress {
  .modal-dialog {
    max-width: 44rem;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .modal-header,
  .modal-body {
    margin-bottom: 1rem;
  }

  .modal-body {
    display: flex;
    justify-content: space-between;
  }

  .progress-wrap {
    width: 100%;
    height: 1.5rem;
    background: var(--grey02);
    border-radius: var(--border-radius-xs);
  }

  .progress-bar {
    position: relative;
    width: 0;
    height: 1.5rem;
    background: var(--primary);
    border-radius: var(--border-radius-xs);
    transition: all 0.3s ease;

    .percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--white);
    }
  }
}

#tab {
  .tabnav {
    display: flex;
    margin-bottom: 3rem;

    .tablink {
      width: 100%;
      padding: 0.5rem 0;
      color: var(--grey04);
      border-bottom: 0.25rem solid var(--grey02);
      background: var(--white);
      transition: all 0.3s ease;
    }

    .tablink.active {
      color: var(--black);
      border-bottom: 0.25rem solid var(--secondary);
    }
  }

  .tabcontent {
    width: 100%;
    animation: opacityAni 0.3s;
  }
}

.item-thumb {
  background: var(--grey01);

  img {
    width: 100%;
    object-fit: fill;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

// COMPONENET / INPUT DEFALUT
.input-item {
  display: block;

  input {
    position: relative;
    border: 1px solid var(--grey02);
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    width: 100%;
    background: var(--white);
    margin: 1rem 0;

    &:focus {
      outline: 1px solid var(--primary);
    }

    &::placeholder {
      color: var(--grey03);
    }
  }
}

// OPACITY ANIMATION
@keyframes opacityAni {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// SCALE ANIMATION
@-moz-keyframes scaleAni {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes scaleAni {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes scaleAni {
  50% {
    transform: scale(0.9);
  }
}

@keyframes scaleAni {
  50% {
    transform: scale(0.9);
  }
}

.fade {
  transition: opacity 0.15s linear;
}

.fade:not(.show) {
  opacity: 0;
}

// #modalContainer {
//   background-color:rgba(0, 0, 0, 0.3);
//   position:absolute;
//   width:100%;
//   height:100%;
//   top:0px;
//   left:0px;
//   z-index:10000;
//   background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
// }

// #alertBox {
//   position:relative;
//   width:300px;
//   min-height:100px;
//   margin-top:50px;
//   border:1px solid #666;
//   background-color:#fff;
//   background-repeat:no-repeat;
//   background-position:20px 30px;
// }

// #modalContainer > #alertBox {
//   position:fixed;
// }

// #alertBox h1 {
//   margin:0;
//   font:bold 0.9em verdana,arial;
//   background-color:#3073BB;
//   color:#FFF;
//   border-bottom:1px solid #000;
//   padding:2px 0 2px 5px;
// }

// #alertBox p {
//   font:0.7em verdana,arial;
//   height:50px;
//   padding-left:5px;
//   margin-left:55px;
// }

// #alertBox #closeBtn {
//   display:block;
//   position:relative;
//   margin:5px auto;
//   padding:7px;
//   border:0 none;
//   width:70px;
//   font:0.7em verdana,arial;
//   text-transform:uppercase;
//   text-align:center;
//   color:#FFF;
//   background-color:#357EBD;
//   border-radius: 3px;
//   text-decoration:none;
// }

// /* unrelated styles */

// #mContainer {
//   position:relative;
//   width:600px;
//   margin:auto;
//   padding:5px;
//   border-top:2px solid #000;
//   border-bottom:2px solid #000;
//   font:0.7em verdana,arial;
// }

// code {
//   font-size:1.2em;
//   color:#069;
// }

// #credits {
//   position:relative;
//   margin:25px auto 0px auto;
//   width:350px;
//   font:0.7em verdana;
//   border-top:1px solid #000;
//   border-bottom:1px solid #000;
//   height:90px;
//   padding-top:4px;
// }

// #credits img {
//   float:left;
//   margin:5px 10px 5px 0px;
//   border:1px solid #000000;
//   width:80px;
//   height:79px;
// }

// .important {
//   background-color:#F5FCC8;
//   padding:2px;
// }

// code span {
//   color:green;
// }

/*# sourceMappingURL=common.scss.map */
