body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  background: transparent;
  height: 6rem;
  font-size: 1.25rem;
}
header .header-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav {
  display: flex;
  align-items: center;
}
header h1 {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-right: 1rem;
  cursor: pointer;
}
header h1:hover {
  background: var(--white);
  opacity: 0.8;
  transition: all 0.3s ease;
}
header .gnb {
  display: flex;
  align-items: center;
}
header .gnb li {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 3.25rem;
  font-weight: 700;
}
header .gnb li a {
  color: var(--grey04);
}
header .gnb li a:hover {
  color: var(--grey05);
  transition: all 0.3s ease;
}
header .button-group {
  display: flex;
}

header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: var(--white);
  z-index: 9999;
  transition: all 0.5s ease;
}
header.fixed .header-container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#hero-swiper .swiper-slide {
  width: 100%;
  height: 30rem;
  background: transparent;
  border-radius: var(--border-radius-md);
}
#hero-swiper .swiper-pagination {
  display: flex;
  align-items: center;
  width: auto;
  left: 50%;
  bottom: 3.5rem;
  transform: translateX(-50%);
}
#hero-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
  opacity: 0.4;
  border-radius: var(--border-radius-sm);
}
#hero-swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 10rem;
  height: 0.25rem;
  opacity: 0.8;
}
#hero-swiper .txt-group {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.5rem;
}
#hero-swiper .txt-group p {
  color: var(--white);
}

.linear-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-md);
  z-index: 1;
}

.content-group {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-md);
}
.content-group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}
.content-group .txt-group {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.content-group .txt-group h1 {
  color: var(--white);
  margin-bottom: 2rem;
}

.gold {
  background: var(--linear-gold);
}

.not {
  background: var(--linear-not);
}

#search {
  margin: 6rem 0;
}
#search .search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
#search input#search-bar {
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  padding: 1.5rem;
  border-radius: var(--border-radius-md);
  width: 66%;
}

.tag-group {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag-group button.tag-item {
  background: #f2f2f2;
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 1rem;
  color: #727272;
  border-radius: var(--border-radius-xs);
  margin: 0 1rem;
}

#issu-swiper,
#prod-swiper {
  position: relative;
  margin-bottom: 6rem;
}
#issu-swiper .swiper,
#prod-swiper .swiper {
  padding: 2rem;
  -webkit-mask-image: linear-gradient(to left, transparent, black 24px, black calc(100% - 24px), transparent);
}
#issu-swiper .swiper-slide,
#prod-swiper .swiper-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: var(--border-radius-md);
  transition: all 0.2s ease;
  overflow: hidden;
  box-shadow: var(--elevation-figma);
  cursor: pointer;
}
#issu-swiper .swiper-slide:hover,
#prod-swiper .swiper-slide:hover {
  transform: translateY(-1rem);
  box-shadow: var(--elevation-figma-hover);
}
#issu-swiper .swiper-pagination,
#prod-swiper .swiper-pagination {
  bottom: 0;
}
#issu-swiper .swiper-pagination .swiper-pagination-bullet,
#prod-swiper .swiper-pagination .swiper-pagination-bullet {
  border-radius: var(--border-radius-sm);
  margin: 0;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 112px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 4px));
  background: var(--secondary);
  opacity: 0.08;
}
#issu-swiper .swiper-pagination .swiper-pagination-bullet-active,
#prod-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--secondary);
  opacity: 1;
}
#issu-swiper .swiper-button-next,
#issu-swiper .swiper-button-prev,
#prod-swiper .swiper-button-next,
#prod-swiper .swiper-button-prev {
  border-radius: 20px;
  color: #fff;
  padding: 2rem;
  opacity: 0.6;
}
#issu-swiper .swiper-button-next:after,
#issu-swiper .swiper-button-prev:after,
#prod-swiper .swiper-button-next:after,
#prod-swiper .swiper-button-prev:after {
  font-size: 1.5rem;
  display: none;
}
#issu-swiper .swiper-button-next,
#prod-swiper .swiper-button-next {
  background: url("/assets/image/icon/icon-arrow-right.svg") no-repeat center center, var(--secondary);
}
#issu-swiper .swiper-button-prev,
#prod-swiper .swiper-button-prev {
  background: url("/assets/image/icon/icon-arrow-left.svg") no-repeat center center, var(--secondary);
}

#issu-swiper .swiper-slide {
  height: 22rem;
}
#issu-swiper #user-thumb {
  right: 1.5rem;
}
#issu-swiper .txt-group {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
}
#issu-swiper .txt-group h5 {
  color: var(--white);
  margin-bottom: 0.25rem;
}
#issu-swiper .txt-group p {
  color: var(--white);
  opacity: 0.6;
}

#prod-swiper .swiper-slide {
  height: 40rem;
}
#prod-swiper #user-thumb {
  left: 1.5rem;
}
#prod-swiper .txt-group {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  padding-top: 0;
  background: var(--white);
}
#prod-swiper .txt-group .txt-header {
  border-bottom: 1px solid var(--grey02);
}
#prod-swiper .txt-group .txt-header p {
  padding: 1rem 0;
  font-weight: 700;
  text-align: right;
}
#prod-swiper .txt-group .txt-header,
#prod-swiper .txt-group .txt-body {
  margin-bottom: 0.5rem;
}
#prod-swiper .txt-group .txt-footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#prod-swiper .txt-group .txt-footer .txt-item-group {
  display: flex;
  flex-direction: column;
}
#prod-swiper .txt-group .txt-footer .txt-item-group p {
  color: var(--black);
  font-weight: 700;
}

#user-thumb {
  position: absolute;
  bottom: 22%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--grey02);
  border-radius: 1.5rem;
  z-index: 2;
  outline: none;
  border: none;
}
#user-thumb img {
  width: 4.5rem;
  height: 4.5rem;
  outline: none;
  border: none;
  border-radius: var(--border-radius-md);
}

#grid-banner {
  margin-bottom: 6rem;
}
#grid-banner .banner-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
#grid-banner .txt-group h2 {
  font-weight: 800;
}
#grid-banner .txt-group h4 {
  color: var(--primary);
  font-weight: 800;
}
#grid-banner .txt-group h2,
#grid-banner .txt-group h4,
#grid-banner .txt-group p {
  margin-bottom: 1.5rem;
}
#grid-banner .img-group {
  height: 25rem;
  background: #f2f2f2;
  border-radius: var(--border-radius-md);
}
#grid-banner .img-group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

#wide-banner {
  margin-bottom: 6rem;
}
#wide-banner .banner-inner {
  position: relative;
  display: flex;
  align-items: center;
}
#wide-banner .txt-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wide-banner .txt-group h4 {
  color: var(--white);
}
#wide-banner .txt-group h4 span {
  color: var(--primary);
}
#wide-banner .txt-group .button-group {
  display: flex;
}
#wide-banner .img-group {
  width: 100%;
  height: 25rem;
  background: #f2f2f2;
  border-radius: var(--border-radius-md);
}
#wide-banner .img-group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

#dialog .modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
#dialog .modal-body {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  overflow-y: auto;
}
#dialog .modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#dialog .modal-footer button {
  width: 100%;
}

#detail {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}
#detail #user-thumb {
  position: initial;
  margin-right: 1rem;
}
#detail .item-thumb,
#detail .item-info {
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}
#detail .item-info {
  height: fit-content;
  border: 1px solid var(--grey02);
  padding: 1.5rem;
}
#detail .item-detail .sample {
  height: 100vh;
  background: var(--white);
  border: 1px solid var(--grey02);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#detail .left-area,
#detail .right-area {
  display: flex;
}
#detail .left-area {
  height: fit-content;
}
#detail .left-area .item-thumb {
  background: var(--grey01);
}
#detail .left-area .item-thumb img {
  width: 100%;
  object-fit: fill;
}
#detail .right-area {
  display: flex;
  flex-direction: column;
}
#detail .right-area .txt-group,
#detail .right-area .user-group,
#detail .right-area .price-group {
  margin-bottom: 1.5rem;
}
#detail .right-area .user-group {
  display: flex;
  align-items: center;
}
#detail .right-area .user-group .txt-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#detail .right-area .price-group {
  display: flex;
  justify-content: space-between;
}
#detail .right-area .button-group {
  width: 100%;
}
#detail .right-area .button-group .bottom {
  display: flex;
}
#detail .right-area .button-group button {
  width: 100%;
  font-weight: 700;
}
#detail .right-area .button-group button:last-child {
  margin-right: 0;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #ED671B;
}
footer .footer-lnb {
  padding-top: 2rem;
}
footer .footer-lnb .container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  margin-bottom: 7.5rem;
}
footer .footer-lnb h1 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
footer .footer-lnb ul li {
  color: #fff;
  opacity: 0.8;
  line-height: 1.5;
}
footer .footer-lnb ul li a {
  color: #fff;
  opacity: 0.8;
}
footer .footer-lnb .col-group {
  margin-bottom: 2rem;
}
footer .footer-lnb .col-group:last-child {
  margin-bottom: 0;
}
footer .copyright {
  border-top: 1px solid #fff;
  opacity: 0.4;
  padding: 2rem 0;
}
footer .copyright .container {
  display: flex;
  justify-content: space-between;
}
footer .copyright p {
  color: #fff;
  opacity: 0.8;
}
footer .copyright ul {
  display: flex;
}
footer .copyright ul li {
  margin-right: 1.5rem;
}
footer .copyright ul li:last-child {
  margin-right: 0;
}
footer .copyright ul li a {
  color: #fff;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
