body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  height: 6rem;
  font-size: 1.25rem;

  .header-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  h1 {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-right: 2rem;
  }

  .gnb {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      height: 3.25rem;
    }
  }
}

header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 9999;

  .header-container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

section {
  padding-top: 3rem;
}

#hero-swiper {  
  .swiper-slide {
    width: 100%;
    height: 30rem;
    background: transparent;
    border-radius: var(--border-radius-md);
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    width: auto;
    left: 50%;
    bottom: 3.5rem;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      width: 0.5rem;
      height: 0.5rem;
      background: #fff;
      opacity: 0.4;
      border-radius: var(--border-radius-sm);
    }
    .swiper-pagination-bullet-active {
      width: 10rem;
      height: 0.25rem;
      opacity: 0.8;
    }
  }

  .txt-group {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.5rem;

    p {
      color: var(--white);
    }
  }
}

.linear-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-md);
  z-index: 1;
}

.content-group {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-md);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-md);
  }

  .txt-group {
    position: absolute;
    width: 100%;
    z-index: 1;

    h1 {
      color: var(--white);
      margin-bottom: 2rem;
    }    
  }
}

.gold {
  background: var(--linear-gold);
}

.not {
  background: var(--linear-not);
}

#search {
  margin: 6rem 0;

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  input#search-bar {
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    padding: 1.5rem;
    border-radius: var(--border-radius-md);
    width: 66%;
  }
}

.tag-group {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  button.tag-item {
    background: #f2f2f2;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: #727272;
    border-radius: var(--border-radius-xs);
    margin: 0 1rem;
  }
}

#issu-swiper,
#prod-swiper {
  position: relative;
  margin-bottom: 6rem;

  .swiper {
    padding: 2rem;
    -webkit-mask-image: linear-gradient(
      to left,
      transparent,
      black 24px,
      black calc(100% - 24px),
      transparent
    );
  }

  .swiper-slide {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: var(--border-radius-md);
    transition: all 0.2s ease;
    overflow: hidden;
    box-shadow: var(--elevation-figma);
    cursor: pointer;

    &:hover {
      transform: translateY(-1rem);
      box-shadow: var(--elevation-figma-hover);
    }    
  }

  .swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
      border-radius: var(--border-radius-sm);
      margin: 0;
      width: var(
        --swiper-pagination-bullet-width,
        var(--swiper-pagination-bullet-size, 112px)
      );
      height: var(
        --swiper-pagination-bullet-height,
        var(--swiper-pagination-bullet-size, 4px)
      );
      background: var(--secondary);
      opacity: 0.08;
    }

    .swiper-pagination-bullet-active {
      background: var(--secondary);
      opacity: 1;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    border-radius: 20px;
    color: #fff;
    padding: 2rem;
    opacity: 0.6;

    &:after {
      font-size: 1.5rem;
      display: none;
    }
  }

  .swiper-button-next {
    background: url("/assets/image/icon/icon-arrow-right.svg") no-repeat center
        center,
      var(--secondary);
  }

  .swiper-button-prev {
    background: url("/assets/image/icon/icon-arrow-left.svg") no-repeat center
        center,
      var(--secondary);
  }
}

#issu-swiper {
  .swiper-slide {
    height: 22rem;
  }

  .txt-group {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;

    h5 {
      color: var(--white);
      margin-bottom: 0.25rem;
    }

    p {
      color: var(--white);
      opacity: 0.6;
    }
  }
}

#prod-swiper {
  .swiper-slide {
    height: 40rem;
  }

  .txt-group {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    padding-top: 0;
    background: var(--white);

    .txt-header {
      border-bottom: 1px solid var(--grey02);
      
      p {
        padding: 1rem 0;
        font-weight: 700;
      }
    }

    .txt-header,
    .txt-body {
      margin-bottom: 0.5rem;
    }

    .txt-footer {
      display: grid;
      grid-template-columns: 2fr 1fr;
      
      .txt-item-group {
        display: flex;
        flex-direction: column;

        p {
          color: var(--black);
          font-weight: 700;
        }
      }
    }
  }
}

#user-thumb {
  position: absolute;
  bottom: 22%;
  right: 1.5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--grey02);
  border-radius: 1.5rem;
  z-index: 2;
  outline: none;
  border: none;

  img {
    width: 4.5rem;
    height: 4.5rem;
    outline: none;
    border: none;
    border-radius: var(--border-radius-md);
  }
}

#grid-banner {
  margin-bottom: 6rem;
  
  .banner-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .txt-group {
    h2 {
      font-weight: 800;
    }

    h4 {
      color: var(--primary);
      font-weight: 800;
    }

    h2,
    h4,
    p {
      margin-bottom: 1.5rem;
    }
  }

  .img-group {
    height: 25rem;
    background: #f2f2f2;
    border-radius: var(--border-radius-md);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-md);
    }
  }
}

// #banner.wide-banner {
//   .banner-inner {
//     position: relative;
//     display: flex;
//     align-items: center;
//   }

//   .txt-group {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     h2 {
//       font-weight: 800;
//     }
//   }

//   .img-group {
//     height: 25rem;
//     background: #f2f2f2;
//     border-radius: var(--border-radius-md);

//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       border-radius: var(--border-radius-md);
//     }
//   }
// }

#wide-banner {
  margin-bottom: 6rem;

  .banner-inner {
    position: relative;
    display: flex;
    align-items: center;
    
  }

  .txt-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h4 {
      color: var(--white);
    }
  }
  
  .img-group {
    width: 100%;
    height: 25rem;
    background: #f2f2f2;
    border-radius: var(--border-radius-md);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-md);
    }
  }
}

#dialog {
  .modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .modal-body {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    overflow-y: auto;
  }

  .modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      
      width: 100%;
    }
  }
}


footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #ED671B;

  .footer-lnb {
    padding-top: 2rem;
    
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 3fr 1fr;
      margin-bottom: 7.5rem;
    }

    h1 {
      color: #fff;
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    ul {
      li {
        color: #fff;
        opacity: 0.8;
        line-height: 1.5;

        a {
          color: #fff;
          opacity: 0.8;
        }
      }
    }

    .col-group {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .copyright {
    border-top: 1px solid #fff;
    opacity: 0.4;
    padding: 2rem 0;
    
    
    .container {
      display: flex;
      justify-content: space-between;
    }

    p {
      color: #fff;
      opacity: 0.8;
    }

    ul {
      display: flex;

      li {
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          opacity: 0.8;
        }
      }
    }
  }
}