body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.sample-box {
  width: 100%;
  height: 100%;
  background: var(--grey02);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  z-index: 2;
  display: flex;
  align-items: center;
  background: transparent;
  height: 6rem;
  font-size: 1.25rem;
}
#header .header-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .nav {
  display: flex;
  align-items: center;
}
#header h1 {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-right: 1rem;
  cursor: pointer;
}
#header h1:hover {
  background: var(--white);
  opacity: 0.8;
  transition: all 0.3s ease;
}
#header .gnb {
  display: flex;
  align-items: center;
}
#header .gnb li {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 3.25rem;
  font-weight: 700;
}
#header .gnb li a {
  color: var(--grey04);
}
#header .gnb li a:hover {
  color: var(--grey05);
  transition: all 0.3s ease;
}
#header .button-group {
  display: flex;
}
#header .button-item {
  position: relative;
}
#header .button-item span.alarm-mark {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--error);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 1rem;
  outline: 2px solid var(--white);
}
#header button.alarm {
  background: var(--grey01);
}
#header button.alarm:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}

#header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: var(--white);
  z-index: 3;
  transition: all 0.3s ease;
}
#header.fixed .header-container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

section.active {
  padding-top: 9rem;
}

#hero-swiper {
  margin-bottom: 6rem;
}
#hero-swiper .swiper-slide {
  width: 100%;
  height: 30rem;
  background: transparent;
  border-radius: var(--border-radius-md);
}
#hero-swiper .swiper-pagination {
  display: flex;
  align-items: center;
  width: auto;
  left: 50%;
  bottom: 3.5rem;
  transform: translateX(-50%);
}
#hero-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
  opacity: 0.4;
  border-radius: var(--border-radius-sm);
}
#hero-swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 10rem;
  height: 0.25rem;
  opacity: 0.8;
}
#hero-swiper .text-group {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3.5rem;
}
#hero-swiper .text-group p {
  color: var(--white);
}

.linear-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-md);
  z-index: 1;
}

.content-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-md);
}
.content-group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}
.content-group .text-group {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.content-group .text-group h1 {
  color: var(--white);
  margin-bottom: 2rem;
}

.gold {
  background: var(--linear-gold);
}

.not {
  background: var(--linear-not);
}

#issu-swiper,
#prod-swiper {
  position: relative;
  margin-bottom: 6rem;
}
#issu-swiper .swiper,
#prod-swiper .swiper {
  padding: 2rem;
  -webkit-mask-image: linear-gradient(to left, transparent, black 24px, black calc(100% - 24px), transparent);
}
#issu-swiper .swiper-slide,
#prod-swiper .swiper-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: var(--border-radius-md);
  transition: all 0.2s ease;
  overflow: hidden;
  box-shadow: var(--elevation-default);
  cursor: pointer;
}
#issu-swiper .swiper-slide:hover,
#prod-swiper .swiper-slide:hover {
  transform: translateY(-1rem);
  box-shadow: var(--elevation-default-hover);
}
#issu-swiper .swiper-pagination,
#prod-swiper .swiper-pagination {
  bottom: 0;
}
#issu-swiper .swiper-pagination .swiper-pagination-bullet,
#prod-swiper .swiper-pagination .swiper-pagination-bullet {
  border-radius: var(--border-radius-sm);
  margin: 0;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 112px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 4px));
  background: var(--secondary);
  opacity: 0.08;
}
#issu-swiper .swiper-pagination .swiper-pagination-bullet-active,
#prod-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--secondary);
  opacity: 1;
}
#issu-swiper .swiper-button-next,
#issu-swiper .swiper-button-prev,
#prod-swiper .swiper-button-next,
#prod-swiper .swiper-button-prev {
  border-radius: 20px;
  color: #fff;
  padding: 2rem;
  opacity: 0.6;
  z-index: 1;
}
#issu-swiper .swiper-button-next:after,
#issu-swiper .swiper-button-prev:after,
#prod-swiper .swiper-button-next:after,
#prod-swiper .swiper-button-prev:after {
  font-size: 1.5rem;
  display: none;
}
#issu-swiper .swiper-button-next,
#prod-swiper .swiper-button-next {
  background: url("/assets/image/icon/icon-arrow-right.svg") no-repeat center center, var(--secondary);
}
#issu-swiper .swiper-button-prev,
#prod-swiper .swiper-button-prev {
  background: url("/assets/image/icon/icon-arrow-left.svg") no-repeat center center, var(--secondary);
}

#issu-swiper .swiper-slide {
  height: 22rem;
}
#issu-swiper #user-thumb {
  position: absolute;
  bottom: 26%;
  right: 1.5rem;
  width: 4rem;
  height: 4rem;
}
#issu-swiper #user-thumb img {
  border-radius: var(--border-radius-sm);
}
#issu-swiper .text-group {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
}
#issu-swiper .text-group h5 {
  color: var(--white);
  margin-bottom: 0.25rem;
}
#issu-swiper .text-group p {
  color: var(--white);
  opacity: 0.6;
  white-space: pre-line;
}

#prod-swiper .swiper-slide {
  height: 35rem;
}
#prod-swiper #user-thumb {
  position: absolute;
  bottom: 25%;
  left: 1.5rem;
  width: 5rem;
  height: 5rem;
}
#prod-swiper #user-thumb img {
  border-radius: var(--border-radius-sm);
}
#prod-swiper .text-group {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  padding-top: 0;
  background: var(--white);
}
#prod-swiper .text-group .txt-header {
  border-bottom: 1px solid var(--grey02);
}
#prod-swiper .text-group .txt-header p {
  padding: 1rem 0;
  font-weight: 700;
  text-align: right;
}
#prod-swiper .text-group .txt-header,
#prod-swiper .text-group .txt-body {
  margin-bottom: 0.5rem;
}
#prod-swiper .text-group .txt-footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#prod-swiper .text-group .txt-footer .txt-item-group {
  display: flex;
  flex-direction: column;
}
#prod-swiper .text-group .txt-footer .txt-item-group p {
  color: var(--black);
  font-weight: 700;
}

#user-thumb {
  z-index: 2;
  outline: none;
  border: none;
}
#user-thumb img {
  outline: none;
  border: none;
  border-radius: var(--border-radius-sm);
}

#grid-banner {
  margin-bottom: 6rem;
}
#grid-banner .banner-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
#grid-banner .text-group h2 {
  font-weight: 800;
}
#grid-banner .text-group h4 {
  color: var(--primary);
  font-weight: 800;
}
#grid-banner .text-group h2,
#grid-banner .text-group h4,
#grid-banner .text-group p {
  margin-bottom: 1.5rem;
}
#grid-banner .img-group {
  height: 25rem;
  background: #f2f2f2;
  border-radius: var(--border-radius-md);
}
#grid-banner .img-group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

#wide-banner {
  margin-bottom: 6rem;
}
#wide-banner .banner-inner {
  position: relative;
  display: flex;
  align-items: center;
}
#wide-banner .text-group {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
#wide-banner .text-group h5 {
  color: var(--white);
}
#wide-banner .text-group h5 span {
  color: var(--primary);
  display: inline-block;
}
#wide-banner .text-group .button-group {
  display: flex;
  gap: 1rem;
}
#wide-banner .img-group {
  width: 100%;
  height: 15rem;
  background: #f2f2f2;
  border-radius: var(--border-radius-md);
}
#wide-banner .img-group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

#detail {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  margin-bottom: 6.25rem;
}
#detail #left {
  position: sticky;
  top: 9rem;
  height: fit-content;
}
#detail #left .item-thumb {
  margin-bottom: 3rem;
}
#detail #left .item-thumb.disabled {
  filter: grayscale(100%);
}
#detail #left .item-group {
  height: fit-content;
  border: 1px solid var(--grey02);
  padding: 1.5rem;
}
#detail #left .item-group .txt-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#detail #left .item-group .txt-item:last-child {
  margin-bottom: 0;
}
#detail #left .item-group .txt-item p {
  color: var(--black);
}
#detail #right {
  height: 100%;
}
#detail #right #user-thumb {
  margin-right: 1rem;
}
#detail #right #user-thumb img {
  border-radius: var(--border-radius-sm);
}
#detail #right .item-group {
  border: 1px solid var(--grey02);
  padding: 1.5rem;
  margin-bottom: 3rem;
}
#detail #right .item-group:last-child {
  margin-bottom: 0;
}
#detail #right .item-group .title-item {
  position: relative;
  margin-bottom: 2rem;
}
#detail #right .item-group .title-item p {
  margin-bottom: 0.5rem;
}
#detail #right .item-group .title-item .detail-setting {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 1rem;
}
#detail #right .item-group .title-item .detail-setting #switch {
  height: 3rem;
}
#detail #right .item-group .title-item .detail-setting button {
  background: transparent;
}
#detail #right .item-group .title-item .detail-setting button:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
#detail #right .item-group .users-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
#detail #right .item-group .price-item {
  display: flex;
  justify-content: space-between;
  background: var(--grey01);
  padding: 1.5rem;
  margin-bottom: 2rem;
}
#detail #right .item-group .price-item.disabled {
  justify-content: flex-end;
}
#detail #right .item-group .button-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#detail #right .item-group .button-group button {
  width: 100%;
}
#detail #right .item-group .button-group.disabled {
  display: flex;
}
#detail #right .item-group .detail-item .sample {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--grey01);
}

#float {
  position: sticky;
  bottom: 1.5rem;
  right: 0;
  width: 100%;
  height: fit-content;
  border: 1px solid var(--grey02);
  border-radius: var(--border-radius-md);
  padding: 1.5rem;
  opacity: 0;
  background: var(--white);
  box-shadow: var(--elevation-default);
}
#float .button-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#float .button-group button {
  width: 100%;
}
#float .button-group.disabled {
  display: flex;
}

#float.show {
  opacity: 1;
}

#float.ele-none {
  box-shadow: none;
}

#side-menu-user .modal-dialog, #side-menu-issuer .modal-dialog {
  top: 3rem;
  right: 3rem;
  width: 24.5rem;
}
#side-menu-user .modal-header, #side-menu-issuer .modal-header {
  position: relative;
  display: flex;
  align-items: center;
}
#side-menu-user .modal-body .divider, #side-menu-issuer .modal-body .divider {
  padding: 0;
}
#side-menu-user .modal-body .user-info, #side-menu-issuer .modal-body .user-info {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
#side-menu-user .modal-body .user-info #user-thumb, #side-menu-issuer .modal-body .user-info #user-thumb {
  margin-right: 1rem;
}
#side-menu-user .modal-body .user-info #issuer-thumb, #side-menu-issuer .modal-body .user-info #issuer-thumb {
  margin-right: 1rem;
}
#side-menu-user .modal-body .user-info p, #side-menu-issuer .modal-body .user-info p {
  margin-bottom: 0.25rem;
}
#side-menu-user .modal-body .user-info p:nth-of-type(2), #side-menu-issuer .modal-body .user-info p:nth-of-type(2) {
  color: var(--grey03);
}
#side-menu-user .modal-body .user-info p:last-child, #side-menu-issuer .modal-body .user-info p:last-child {
  margin-bottom: 0;
}
#side-menu-user .modal-body .info-item, #side-menu-issuer .modal-body .info-item {
  margin-bottom: 1.5rem;
}
#side-menu-user .modal-body .info-item button, #side-menu-issuer .modal-body .info-item button {
  width: 100%;
  margin: 0;
}
#side-menu-user .modal-body .user-type, #side-menu-issuer .modal-body .user-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#side-menu-user .modal-body .issuer-type, #side-menu-issuer .modal-body .issuer-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#side-menu-user .modal-body .user-type .user-type-item, #side-menu-user .modal-body .issuer-type .user-type-item, #side-menu-issuer .modal-body .user-type .user-type-item, #side-menu-issuer .modal-body .issuer-type .user-type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#side-menu-user .modal-body .user-type .user-type-item button, #side-menu-user .modal-body .issuer-type .user-type-item button, #side-menu-issuer .modal-body .user-type .user-type-item button, #side-menu-issuer .modal-body .issuer-type .user-type-item button {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}
#side-menu-user .modal-body .user-type p, #side-menu-user .modal-body .issuer-type p, #side-menu-issuer .modal-body .user-type p, #side-menu-issuer .modal-body .issuer-type p {
  color: var(--grey03);
}
#side-menu-user .modal-body .user-nav ul span, #side-menu-issuer .modal-body .user-nav ul span {
  display: block;
  color: var(--grey03);
  margin-bottom: 0.5rem;
}
#side-menu-user .modal-body .user-nav ul li, #side-menu-issuer .modal-body .user-nav ul li {
  margin-bottom: 1rem;
}
#side-menu-user .modal-body .user-nav ul li a, #side-menu-issuer .modal-body .user-nav ul li a {
  font-weight: 500;
  padding: 0.75rem 0;
}
#side-menu-user .modal-body .user-nav ul li a:hover, #side-menu-user .modal-body .user-nav ul li a:focus, #side-menu-issuer .modal-body .user-nav ul li a:hover, #side-menu-issuer .modal-body .user-nav ul li a:focus {
  color: var(--grey05);
}
#side-menu-user .modal-footer, #side-menu-issuer .modal-footer {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 1rem;
}
#side-menu-user .modal-footer button, #side-menu-issuer .modal-footer button {
  width: 100%;
}

#dialog-gold-buy .divider {
  padding: 0;
  margin: 1.5rem 0;
}
#dialog-gold-buy .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
#dialog-gold-buy .modal-header .title {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
#dialog-gold-buy .modal-body .item-thumb {
  margin-bottom: 1.5rem;
}
#dialog-gold-buy .modal-body .price-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
#dialog-gold-buy .modal-body .price-item .stock-group {
  text-align: center;
}
#dialog-gold-buy .modal-body .txt-item {
  padding: 0 3rem;
}
#dialog-gold-buy .modal-body .txt-item p {
  margin-bottom: 1.5rem;
}
#dialog-gold-buy .modal-footer {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 1rem;
}
#dialog-gold-buy #radioBtn {
  display: flex;
  justify-content: space-between;
}

#dialog-gold-sell .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
#dialog-gold-sell .modal-header .title {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
#dialog-gold-sell .modal-body .txt-item .error-message {
  font-size: 0.75rem;
  color: var(--error);
  margin-bottom: 1rem;
}
#dialog-gold-sell .modal-body .txt-item span {
  font-size: 0.75rem;
  color: var(--grey05);
}
#dialog-gold-sell .modal-footer {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 1rem;
}

#dialog-gold-gift-01 .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
#dialog-gold-gift-01 .modal-header .title {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
#dialog-gold-gift-01 .modal-body .label-b {
  display: flex;
  justify-content: space-between;
}
#dialog-gold-gift-01 .modal-body .label-b span:nth-of-type(2) {
  font-weight: normal;
}
#dialog-gold-gift-01 .modal-body .search-wrap {
  display: flex;
}
#dialog-gold-gift-01 .modal-body .search-wrap #search {
  width: 100%;
  margin-right: 1rem;
}
#dialog-gold-gift-01 .modal-body .search-wrap #search input {
  position: relative;
}
#dialog-gold-gift-01 .modal-body .search-wrap #search p {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 800;
  color: var(--grey05);
}
#dialog-gold-gift-01 .modal-body .txt-item .error-message {
  font-size: 0.75rem;
  color: var(--error);
}
#dialog-gold-gift-01 .modal-body .txt-item span {
  font-size: 0.75rem;
  color: var(--grey05);
}
#dialog-gold-gift-01 .modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#dialog-gold-gift-02 #user-thumb {
  margin-right: 1rem;
}
#dialog-gold-gift-02 .divider {
  padding: 0;
  margin: 1.5rem 0;
}
#dialog-gold-gift-02 .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
#dialog-gold-gift-02 .modal-header .title {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
#dialog-gold-gift-02 .modal-body .item-thumb {
  background: var(--white);
}
#dialog-gold-gift-02 .modal-body .users-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
#dialog-gold-gift-02 .modal-body .users-item .text-group p {
  color: var(--black);
}
#dialog-gold-gift-02 .modal-body .txt-item .error-message {
  font-size: 0.75rem;
  color: var(--error);
  line-height: 1.5;
}
#dialog-gold-gift-02 .modal-body .txt-item p {
  color: var(--black);
}
#dialog-gold-gift-02 .modal-body .txt-item span {
  font-size: 0.75rem;
  color: var(--grey05);
}
#dialog-gold-gift-02 .modal-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

#dialog-signUp .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: calc(100vh - 3.5rem);
  overflow-y: scroll;
  -ms-overflow-style: none;
}
#dialog-signUp .modal-dialog::-webkit-scrollbar {
  display: none;
}
#dialog-signUp .modal-header .title {
  position: relative;
  display: flex;
  width: 100%;
}
#dialog-signUp .modal-header .title .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#dialog-signUp .modal-body .login-info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--grey02);
  margin-bottom: 1.5rem;
}
#dialog-signUp .modal-body .login-info:nth-of-type(1) {
  align-items: flex-start;
}
#dialog-signUp .modal-body .login-info:nth-of-type(1) .txt-item {
  margin-bottom: 1.5rem;
}
#dialog-signUp .modal-body .login-info:nth-of-type(4) {
  margin-bottom: 3rem;
}
#dialog-signUp .modal-body .login-info .step-text {
  padding: 1.5rem;
}
#dialog-signUp .modal-body .login-info .step-text .txt-item h5 {
  margin-bottom: 0.5rem;
}
#dialog-signUp .modal-body .login-info .step-text .step-qr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
#dialog-signUp .modal-body .signin-terms {
  padding: 2rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--grey02);
}
#dialog-signUp .modal-body .signin-terms .txt-item {
  margin-bottom: 1.5rem;
}
#dialog-signUp .modal-body .signin-terms .txt-item h5 {
  margin-bottom: 0.5rem;
}
#dialog-signUp .modal-footer {
  display: block;
}
#dialog-signUp .modal-footer button {
  width: 100%;
}

#dialog-qrLogin .modal-dialog {
  width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dialog-qrLogin .modal-header .title {
  position: relative;
  display: flex;
  width: 100%;
}
#dialog-qrLogin .modal-header .title .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#dialog-qrLogin .modal-body .login-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--grey02);
  margin-bottom: 1.5rem;
}
#dialog-qrLogin .modal-body .login-info:nth-of-type(2) {
  grid-template-columns: 1fr;
  gap: 0;
}
#dialog-qrLogin .modal-body .login-info:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#dialog-qrLogin .modal-body .qr-count {
  color: var(--grey04);
}
#dialog-qrLogin .modal-body .qr-count span.count-time {
  color: var(--error);
  font-weight: 700;
}
#dialog-qrLogin .modal-footer {
  display: block;
}
#dialog-qrLogin .modal-footer button {
  width: 100%;
}

#dialog-user-info .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
#dialog-user-info .modal-header .title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
#dialog-user-info .modal-header .title .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#dialog-user-info .modal-body .user-main-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
#dialog-user-info .modal-body .user-main-info #user-thumb, #dialog-user-info .modal-body .user-main-info #issuer-thumb {
  margin-right: 1rem;
}
#dialog-user-info .modal-body .user-main-info p.item-name {
  font-weight: 700;
  color: var(--black);
}
#dialog-user-info .modal-body .user-main-info p.item-nickname {
  color: var(--black);
}
#dialog-user-info .modal-body .user-main-info p.item-email {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
#dialog-user-info .modal-body .user-main-info p.item-email span {
  display: block;
}
#dialog-user-info .modal-body .did-info {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
#dialog-user-info .modal-body .did-info .did {
  background: var(--info);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  border-radius: var(--border-radius-xs);
}
#dialog-user-info .modal-body .did-info .did p {
  color: var(--white);
  font-weight: 700;
}
#dialog-user-info .modal-body .did-info .did-id {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--grey01);
  height: 4.5rem;
  border-radius: var(--border-radius-xs);
  overflow: hidden;
  padding: 1rem;
}
#dialog-user-info .modal-body .did-info .did-id p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15rem;
  height: 20px;
}
#dialog-user-info .modal-body .did-info .did-id button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
}
#dialog-user-info .modal-body .user-description {
  background: var(--grey01);
  border-radius: var(--border-radius-xs);
  padding: 1rem;
}
#dialog-user-info .modal-footer {
  display: block;
}
#dialog-user-info .modal-footer button {
  width: 100%;
}

#dialog-user-info.no-cont .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
#dialog-user-info.no-cont .modal-header .title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
#dialog-user-info.no-cont .modal-header .title .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#dialog-user-info.no-cont .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#dialog-user-info.no-cont .modal-body img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
}
#dialog-user-info.no-cont .modal-body p {
  color: var(--black);
  font-weight: 600;
}
#dialog-user-info.no-cont .modal-footer {
  display: block;
}
#dialog-user-info.no-cont .modal-footer button {
  width: 100%;
}

#dialog-addlink .modal-dialog {
  width: 48rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dialog-addlink #road-add #search,
#dialog-addlink #num-add #search {
  width: 100%;
}
#dialog-addlink #road-add #search p,
#dialog-addlink #num-add #search p {
  margin-bottom: 1rem;
}
#dialog-addlink #road-add #search p span,
#dialog-addlink #num-add #search p span {
  display: inline-block;
}
#dialog-addlink #road-add .add-info,
#dialog-addlink #num-add .add-info {
  margin-bottom: 3rem;
}
#dialog-addlink #road-add .text-info,
#dialog-addlink #num-add .text-info {
  margin-bottom: 2rem;
}
#dialog-addlink #road-add .text-info p,
#dialog-addlink #num-add .text-info p {
  color: var(--black);
}
#dialog-addlink #road-add .text-info p span,
#dialog-addlink #num-add .text-info p span {
  display: inline-block;
  font-weight: 600;
}
#dialog-addlink #road-add .text-info p:nth-of-type(2),
#dialog-addlink #num-add .text-info p:nth-of-type(2) {
  color: var(--grey04);
}
#dialog-addlink #road-add .add-result .label-b,
#dialog-addlink #num-add .add-result .label-b {
  color: var(--black);
}
#dialog-addlink #road-add .add-result .divider,
#dialog-addlink #num-add .add-result .divider {
  margin: 0;
}
#dialog-addlink #road-add .add-result .add-result-title,
#dialog-addlink #num-add .add-result .add-result-title {
  margin-bottom: 1rem;
}
#dialog-addlink #road-add .result-group,
#dialog-addlink #num-add .result-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
#dialog-addlink #road-add .result-group .add-result-item,
#dialog-addlink #num-add .result-group .add-result-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
#dialog-addlink #road-add .result-group .add-result-item button,
#dialog-addlink #num-add .result-group .add-result-item button {
  font-weight: normal;
  cursor: auto;
  margin-right: 1rem;
  width: 6rem;
}
#dialog-addlink #road-add .result-group .add-result-item button:hover,
#dialog-addlink #num-add .result-group .add-result-item button:hover {
  background: var(--secondary);
}
#dialog-addlink #road-add .result-group .add-result-item p,
#dialog-addlink #num-add .result-group .add-result-item p {
  color: var(--black);
}
#dialog-addlink #road-add .result-group .postnum-result-item p,
#dialog-addlink #num-add .result-group .postnum-result-item p {
  color: var(--black);
  font-weight: 600;
}
#dialog-addlink #num-add .result-group .add-result-group {
  width: 100%;
}
#dialog-addlink #num-add .result-group .add-result-item {
  justify-content: space-between;
}
#dialog-addlink #num-add .result-group .add-result-item p:last-child {
  font-weight: 600;
}
#dialog-addlink .button-group {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
}

#dialog-backup .modal-dialog {
  width: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dialog-backup .modal-header .title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
#dialog-backup .modal-header .title .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#dialog-backup .modal-body .backup-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--grey02);
  margin-bottom: 1.5rem;
}
#dialog-backup .modal-body .txt-item p {
  color: var(--grey05);
}
#dialog-backup .modal-body .txt-item p span {
  display: inline-block;
}
#dialog-backup .modal-body .txt-item p img {
  width: auto;
  height: 1.5rem;
}
#dialog-backup .modal-footer {
  display: block;
}
#dialog-backup .modal-footer button {
  width: 100%;
}

#trade .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.25rem;
}
#trade .title .divider {
  width: 5rem;
  margin: 0.5rem 0;
}
#trade .title .divider .line {
  background: var(--primary);
}
#trade .trade-banner {
  width: 100%;
  height: 25rem;
  background: var(--white);
  border-radius: var(--border-radius-md);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  box-shadow: var(--elevation-default);
  margin-bottom: 6.25rem;
}
#trade .trade-banner .img-group {
  width: 100%;
  height: 100%;
  background: var(--grey02);
  border-radius: var(--border-radius-sm);
}
#trade .trade-banner .text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#trade .trade-banner .text-group h5 {
  margin-bottom: 1.5rem;
}
#trade .trade-banner .text-group p {
  margin-bottom: 1.5rem;
}
#trade .trade-banner .text-group button {
  width: fit-content;
}
#trade > .subtitle {
  margin-bottom: 6.25rem;
}
#trade .trade-form {
  width: 100%;
  background: var(--white);
  border-radius: var(--border-radius-md);
  padding: 3.5rem;
  box-shadow: var(--elevation-default);
}
#trade .trade-form .input-group {
  margin-bottom: 6.5rem;
}
#trade .trade-form .input-group:last-child {
  margin-bottom: 2rem;
}
#trade .trade-form .input-group .divider {
  padding: 0;
}
#trade .trade-form .input-group .subtitle {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#trade .trade-form .input-group .subtitle .checkbox-item span {
  margin-left: 0.5rem;
}
#trade .trade-form .input-group .input-item.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}
#trade .trade-form .input-group .address-item.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}
#trade .trade-form .input-item {
  display: flex;
  align-items: center;
  width: 50%;
}
#trade .trade-form .address-item {
  width: 50%;
  align-items: center;
}
#trade .trade-form .address-item:last-child input {
  position: relative;
  border: 1px solid var(--grey02);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
  background: var(--white);
  margin: 0.25rem 0;
}
#trade .trade-form .address-item:last-child .address-input {
  display: flex;
  flex-direction: column;
  gap: 0;
}
#trade .trade-form .address-item > input {
  position: relative;
  border: 1px solid var(--grey02);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
  background: var(--white);
  margin: 1rem 0;
}
#trade .trade-form .address-item .address-input {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
#trade .trade-form .trade-info {
  margin-bottom: 3rem;
}
#trade .trade-form .button-group button {
  width: 100%;
}

#trade.trade-check .trade-form .row .input-item,
#trade.trade-withdraw .trade-form .row .input-item,
#trade.trade-result .trade-form .row .input-item {
  display: flex;
  align-items: center;
}
#trade.trade-check .trade-form .row .input-item label,
#trade.trade-withdraw .trade-form .row .input-item label,
#trade.trade-result .trade-form .row .input-item label {
  margin-right: 1rem;
}
#trade.trade-check .trade-form .input-item, #trade.trade-check .trade-form .address-item,
#trade.trade-withdraw .trade-form .input-item,
#trade.trade-withdraw .trade-form .address-item,
#trade.trade-result .trade-form .input-item,
#trade.trade-result .trade-form .address-item {
  padding: 2rem 0;
}
#trade.trade-check .trade-form .input-item label.input-check,
#trade.trade-check .trade-form .input-item label.input-result, #trade.trade-check .trade-form .address-item label.input-check,
#trade.trade-check .trade-form .address-item label.input-result,
#trade.trade-withdraw .trade-form .input-item label.input-check,
#trade.trade-withdraw .trade-form .input-item label.input-result,
#trade.trade-withdraw .trade-form .address-item label.input-check,
#trade.trade-withdraw .trade-form .address-item label.input-result,
#trade.trade-result .trade-form .input-item label.input-check,
#trade.trade-result .trade-form .input-item label.input-result,
#trade.trade-result .trade-form .address-item label.input-check,
#trade.trade-result .trade-form .address-item label.input-result {
  color: var(--black);
  font-weight: 600;
  display: block;
  margin: 0.5rem 0;
}
#trade.trade-check .trade-form .button-group,
#trade.trade-withdraw .trade-form .button-group,
#trade.trade-result .trade-form .button-group {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
}

#trade.trade-result .trade-form .button-group {
  display: flex;
}

#dialog-trade .modal-dialog {
  width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dialog-trade .modal-header .title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#dialog-trade .modal-header .title .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#dialog-trade .modal-body .not-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
}
#dialog-trade .modal-body .issuer-list ul li a {
  padding: 1rem;
  border-radius: var(--border-radius-xs);
}
#dialog-trade .modal-body .issuer-list ul li a:focus, #dialog-trade .modal-body .issuer-list ul li a:hover {
  background: var(--grey01);
  transition: all 0.3s ease;
}
#dialog-trade .modal-body #issuer-thumb {
  margin-right: 1rem;
}
#dialog-trade .modal-body .issuer-list-item {
  display: flex;
  align-items: center;
}
#dialog-trade .modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#dialog-trade-list .modal-dialog {
  width: 62.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#dialog-trade-list .modal-header .title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
#dialog-trade-list .modal-header .title .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#dialog-trade-list .modal-body .row {
  margin-bottom: 1.5rem;
}
#dialog-trade-list .modal-body .more {
  display: flex;
  justify-content: center;
}
#dialog-trade-list .modal-body .button-group {
  display: flex;
  justify-content: center;
}
#dialog-trade-list .modal-footer .button-group {
  display: flex;
  justify-content: center;
}
#dialog-trade-list .modal-footer .button-group button {
  width: 100%;
}

#explore-search,
#explore {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
}

#explore-search {
  align-items: center;
  margin-bottom: 2rem;
}

#left {
  position: sticky;
  top: 9rem;
}
#left p {
  margin-right: 0.5rem;
}

#right #tab .tabnav {
  margin-bottom: 2rem;
}
#right .result-filter {
  width: 100%;
}
#right .result-filter .row {
  margin-bottom: 1.5rem;
}
#right .item-option {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: right;
}
#right .item-option > #select {
  width: 10rem;
}
#right .item-option > #select .selected {
  padding: 0.75rem 1rem;
  background: var(--grey01);
  border: none;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ed671b;
}
footer .footer-lnb {
  padding-top: 2rem;
}
footer .footer-lnb .container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  margin-bottom: 7.5rem;
}
footer .footer-lnb h1 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
footer .footer-lnb ul li {
  color: #fff;
  opacity: 0.8;
  line-height: 1.5;
}
footer .footer-lnb ul li a {
  color: #fff;
  opacity: 0.8;
}
footer .footer-lnb .col-group {
  margin-bottom: 2rem;
}
footer .footer-lnb .col-group:last-child {
  margin-bottom: 0;
}
footer .copyright {
  border-top: 1px solid #fff;
  opacity: 0.4;
  padding: 2rem 0;
}
footer .copyright .container {
  display: flex;
  justify-content: space-between;
}
footer .copyright p {
  color: #fff;
  opacity: 0.8;
}
footer .copyright ul {
  display: flex;
}
footer .copyright ul li {
  margin-right: 1.5rem;
}
footer .copyright ul li:last-child {
  margin-right: 0;
}
footer .copyright ul li a {
  color: #fff;
  opacity: 0.8;
}

.terms {
  word-break: break-all;
  overflow-y: scroll;
  padding: 1.5rem;
  background: var(--grey01);
  border-radius: var(--border-radius-sm);
}

#my-info {
  border: 1px solid var(--grey02);
  border-radius: var(--border-radius-md);
  display: grid;
  grid-template-columns: 1fr 3fr;
  display: flex;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
#my-info .divider {
  padding: 0;
}
#my-info #user-thumb {
  position: relative;
  width: 100%;
  max-width: 16.5rem;
  height: 16.5rem;
  box-sizing: border-box;
}
#my-info #user-thumb button.icon-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--border-radius-xs);
  background: rgba(255, 255, 255, 0.8);
  color: var(--grey05);
}
#my-info #user-thumb button.icon-delete:hover {
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}
#my-info .info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}
#my-info .info-text #switch {
  position: absolute;
  top: 0;
  right: 0;
}
#my-info .info-text .title {
  position: relative;
}
#my-info .info-text .item-group {
  padding: 1.5rem;
  background: var(--grey01);
  border-radius: var(--border-radius-sm);
  margin-bottom: 1rem;
}
#my-info .info-text .button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#my-info .info-text p {
  display: flex;
  align-items: center;
}
#my-info .did-info {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
#my-info .did-info .did {
  width: 5rem;
  background: var(--info);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
}
#my-info .did-info .did p {
  color: var(--white);
  font-weight: 700;
}
#my-info .did-info .did-id {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--grey01);
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}
#my-info .did-info .did-id p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15rem;
  height: 20px;
  padding: 1rem;
}
#my-info .did-info .did-id button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
}

#my-info-form {
  border: 1px solid var(--grey02);
  border-radius: var(--border-radius-md);
  padding: 1.5rem;
  margin-bottom: 2rem;
}
#my-info-form .divider {
  padding: 0;
}
#my-info-form .input-group {
  margin-bottom: 2rem;
}
#my-info-form .input-group .input-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
#my-info-form .input-group .input-item .input-title {
  width: 20%;
  display: flex;
  align-items: center;
}
#my-info-form .input-group .input-item .input-title span {
  padding: 0 0.5rem;
}
#my-info-form .input-group .input-item .input-box {
  width: 100%;
}
#my-info-form .input-group .input-item .input-box .item-wrap {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  gap: 2rem;
}
#my-info-form .input-group .input-item input, #my-info-form .input-group .input-item textarea {
  margin: 0.5rem 0;
}
#my-info-form .list-group .subtitle {
  position: relative;
}
#my-info-form .list-group .subtitle #switch {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#my-info-form .list-group .list-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
  margin-bottom: 3rem;
}
#my-info-form .list-group .list-item .list-title {
  width: 20%;
  display: flex;
  align-items: center;
}
#my-info-form .list-group .list-item .list-title span {
  padding: 0 0.5rem;
}
#my-info-form .list-group .list-item .list-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#my-info-form .list-group .list-item .list-box .item-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#my-info-form .list-group .button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#my-info-form .list-group .button-group button {
  width: 100%;
}

#trade-history .trade-option {
  margin-bottom: 2rem;
}
#trade-history .trade-option .filter-title {
  display: flex;
  width: 100%;
}
#trade-history .trade-option .filter-title p {
  width: 6rem;
}
#trade-history .trade-option .date-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}
#trade-history .trade-option .date-filter .date-picker-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#trade-history .trade-option .date-filter .date-picker-group input {
  width: 12.5rem;
}
#trade-history .trade-option .date-filter #radioBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#trade-history .trade-option .drop-filter #select .selected {
  width: 12.5rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  background: var(--grey01);
}
#trade-history .trade-option .drop-filter #select ul {
  width: 12.5rem;
}
#trade-history .trade-result .result-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#trade-history .trade-result .result-option .result-option-item {
  display: flex;
}
#trade-history .trade-result .result-option .result-option-item button.btn-download {
  color: var(--grey05);
  font-weight: normal;
}
#trade-history .trade-result .result-option .result-option-item #select .selected {
  width: 10rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  background: var(--grey01);
}
#trade-history .trade-result .result-option .result-option-item #select ul {
  width: 10rem;
}
#trade-history .button-group {
  display: block;
  margin: 0.5rem 0;
}
#trade-history .button-group button {
  width: 100%;
}

#adjustment-history .adjustment-option {
  margin-bottom: 2rem;
}
#adjustment-history .adjustment-option .filter-title {
  display: flex;
  width: 100%;
}
#adjustment-history .adjustment-option .filter-title p {
  width: 6rem;
}
#adjustment-history .adjustment-option .date-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}
#adjustment-history .adjustment-option .date-filter .date-picker-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#adjustment-history .adjustment-option .date-filter .date-picker-group input {
  width: 12.5rem;
}
#adjustment-history .adjustment-option .date-filter #radioBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#adjustment-history .adjustment-option .drop-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}
#adjustment-history .adjustment-option .drop-filter #select {
  width: fit-content;
}
#adjustment-history .adjustment-option .drop-filter #select .selected {
  width: 12.5rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  background: var(--grey01);
}
#adjustment-history .adjustment-option .drop-filter #select ul {
  width: 12.5rem;
}
#adjustment-history .adjustment-option .drop-filter #radioBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#adjustment-history .adjustment-result .result-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#adjustment-history .adjustment-result .result-option .result-option-item {
  display: flex;
}
#adjustment-history .adjustment-result .result-option .result-option-item button.btn-download {
  color: var(--grey05);
  font-weight: normal;
}
#adjustment-history .adjustment-result .result-option .result-option-item #select .selected {
  width: 10rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  background: var(--grey01);
}
#adjustment-history .adjustment-result .result-option .result-option-item #select ul {
  width: 10rem;
}
#adjustment-history .button-group {
  display: block;
  margin: 0.5rem 0;
}
#adjustment-history .button-group button {
  width: 100%;
}

.board-menu ul li {
  padding: 0.25rem 0;
}
.board-menu ul li a {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius-xs);
  color: var(--grey03);
}
.board-menu ul li a:focus, .board-menu ul li a:hover, .board-menu ul li a:active {
  color: var(--black);
  background: var(--grey01);
}
.board-menu ul li p {
  padding: 0.75rem 1rem;
  color: var(--grey03);
}

.detail-info .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.detail-info .title .users-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-info .title .users-item .users-item-inner {
  display: flex;
  align-items: center;
}
.detail-info .title #user-thumb {
  margin-right: 1rem;
}
.detail-info .main-list {
  cursor: pointer;
}
.detail-info .main-list i.icon-arrow {
  transition: all ease 0.1s;
}
.detail-info .main-list.active i.icon-arrow {
  transform: rotate(180deg);
}
.detail-info .sub-list {
  display: none;
  animation: opacityAni 0.3s;
  margin-top: 1rem;
}
.detail-info .sub-list .divider {
  padding: 0;
  margin: 1.5rem 0;
}
.detail-info .sub-list li {
  padding: 0.5rem 0;
}
.detail-info .sub-list li p {
  color: var(--grey03);
}
.detail-info .sub-list li button {
  width: 100%;
}
.detail-info .sub-list .text-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-info .sub-list .text-item p:nth-of-type(1) {
  color: var(--grey03);
}
.detail-info .sub-list .text-item p:nth-of-type(2) {
  color: var(--black);
  font-weight: 600;
}
.detail-info .sub-list.active {
  display: block;
}

.explore-menu {
  margin-bottom: 1.5rem;
}
.explore-menu ul li {
  padding: 0.75rem 1rem;
}
.explore-menu .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.explore-menu .main-list {
  cursor: pointer;
}
.explore-menu .main-list span {
  transition: all ease 0.1s;
}
.explore-menu .main-list.active span {
  transform: rotate(180deg);
}
.explore-menu .sub-list {
  display: none;
  animation: opacityAni 0.3s;
  margin-top: 1rem;
}
.explore-menu .sub-list li {
  padding: 0.25rem 0;
}
.explore-menu .sub-list li p {
  color: var(--grey03);
}
.explore-menu .sub-list li button {
  width: 100%;
}
.explore-menu .sub-list.active {
  display: block;
}

.date-filter .filter-title {
  flex-basis: 4rem;
}

.drop-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}
.drop-filter .filter-title {
  flex-basis: 4rem;
}

.w-100 {
  width: 100%;
}

.w-25 {
  width: 25%;
}

#nft-card {
  background: var(--white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--elevation-default);
  transition: all 0.2s ease;
  overflow: hidden;
  box-shadow: var(--elevation-default);
  cursor: pointer;
}
#nft-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: var(--elevation-default-hover);
}
#nft-card #user-thumb {
  margin-right: 0.5rem;
}
#nft-card .card-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
}
#nft-card .card-header .dot {
  width: 0.5rem;
  height: 0.5rem;
  background: var(--error);
  margin-right: 0.5rem;
}
#nft-card .card-header .user-id, #nft-card .card-header .nft-condition {
  color: var(--black);
  font-weight: 700;
}
#nft-card .card-header .checkbox-item {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
#nft-card .card-body {
  padding: 0 1rem;
}
#nft-card .card-body .img-wrap {
  position: relative;
  height: 10rem;
}
#nft-card .card-body .img-wrap img {
  object-fit: cover;
  border-radius: var(--border-radius-xs);
}
#nft-card .card-body .img-wrap span {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}
#nft-card .card-body .img-wrap span i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
#nft-card .card-body .item-name {
  font-size: 1.25rem;
  font-weight: 600;
}
#nft-card .card-footer {
  padding: 1rem;
}
#nft-card .card-footer .divider {
  padding: 0;
  margin: 0.5rem 0;
}
#nft-card .card-footer .title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
#nft-card .card-footer .title > p {
  color: var(--black);
  font-weight: 700;
}
#nft-card .card-footer .like {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
#nft-card .card-footer .like button {
  color: var(--grey03);
  background: transparent;
}
#nft-card .card-footer .like button:hover {
  background: var(--grey01);
}
#nft-card .card-footer .like button.active {
  color: var(--error);
}
#nft-card .card-footer .like span {
  margin-right: 0.25rem;
}
#nft-card .card-footer .like p.like-num {
  font-size: 0.75rem;
}
#nft-card .card-footer p.description {
  font-size: 0.75rem;
}

#prod-card {
  position: relative;
  width: 100%;
  height: 30rem;
  background: var(--grey01);
  border-radius: var(--border-radius-md);
  transition: all 0.2s ease;
  overflow: hidden;
  box-shadow: var(--elevation-default);
  cursor: pointer;
}
#prod-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: var(--elevation-default-hover);
}
#prod-card .divider {
  padding: 0;
}
#prod-card #user-thumb {
  position: absolute;
  bottom: 35%;
  left: 1.5rem;
}
#prod-card .prod-img img {
  border-radius: var(--border-radius-md);
}
#prod-card .icon-share {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: rgba(255, 255, 255, 0.5);
  color: var(--white);
  outline: none;
}
#prod-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  background: var(--white);
}
#prod-card .card-header {
  text-align: right;
}
#prod-card .card-footer {
  display: flex;
  justify-content: space-between;
}
#prod-card .card-footer .text-item:nth-of-type(1) {
  text-align: left;
}
#prod-card .card-footer .text-item:nth-of-type(2) {
  text-align: right;
}
#prod-card .card-footer .text-item p {
  color: var(--black);
  font-weight: 600;
}

.thumb-xs {
  width: 2.5rem;
  height: 2.5rem;
}

.thumb-sm {
  width: 3.25rem;
  height: 3.25rem;
}

.thumb-md {
  width: 4rem;
  height: 4rem;
}

.thumb-lg {
  width: 5rem;
  height: 5rem;
}

.icon-circle {
  border-radius: 5rem;
  outline: 1px solid var(--grey02);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-square {
  transform: scale(1);
  border: 1px solid var(--grey02);
  transition: all 0.2s ease;
}

.icon-size-xs {
  width: 1rem;
  height: 1rem;
}

.icon-size-sm {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-size-md {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-size-lg {
  width: 2rem;
  height: 2rem;
}

.icon-size-xl {
  width: 2.5rem;
  height: 2.5rem;
}

.rounded-xs {
  border-radius: var(--border-radius-xs);
}

.rounded-sm {
  border-radius: var(--border-radius-sm);
}

.rounded-md {
  border-radius: var(--border-radius-md);
}

/*# sourceMappingURL=style.css.map */
